{% load staticfiles %}
 <html>
        <head>
            <title>Django Maksym blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        </head>
        <body>
        <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1><a href="/">MAKSYM JOURNAL</a></h1>
        <h2>Code_Lover     |     Web Designer     |      <a href = "/gallery">Photographer</a></h2>
        </div>
                <div class="content container">
            
                
                {% block content %}
                {% endblock %}
                
            
        </div>
    </body>
</html>